.section.blog-header {
  padding-top: 4rem;
}

.blog {
  height: 26rem;
  max-height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.active-category {
  font-weight: bold;
}

.btn.reset {
  min-width: 10px;
  margin-left: 16px;
  width: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #0ca4fb;
  background-color: #0ca4fb;
  color: white !important;
}

.btn.search {
  min-width: 20px;
}

.pubdate {
  font-weight: bold;
  color: #0ca4fb;
}
