<body class="nk-body body-wider bg-light">
  <div class="nk-wrap">
    <nexus-page-header
      [title]="'Blog'"
      [headerText]="'Blogging is a conversation, not a code.'"
      [isSmall]="true"
    >
    </nexus-page-header>

    <main class="nk-pages">
      <section class="section bg-light blog-header">
        <div class="ui-mask-left ui-mask-s11"></div>
        <div class="container">
          <div class="nk-block nk-block-blog">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div *ngFor="let article of pagedItems" class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img
                          src="images/blog/{{ article.image }}"
                          alt="blog-thumb"
                        />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li>
                            <a href="#">{{ article.publishDate }}</a>
                          </li>
                          <li *ngFor="let tag of article.tags">
                            <a href="#">{{ tag.name }}</a>
                          </li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="{{ article.url }}">{{ article.title }}</a>
                        </h4>
                        <p>
                          {{ article.description }}
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
                <nav class="w-100 d-flex">
                  <!-- pager -->
                  <ul
                    *ngIf="pager.pages && pager.pages.length"
                    class="pagination"
                  >
                    <li [ngClass]="{ disabled: pager.currentPage === 1 }">
                      <a href="#" (click)="setPage(1); $event.preventDefault()"
                        >First</a
                      >
                    </li>
                    <li [ngClass]="{ disabled: pager.currentPage === 1 }">
                      <a
                        href="#"
                        (click)="
                          setPage(pager.currentPage - 1);
                          $event.preventDefault()
                        "
                        >Previous</a
                      >
                    </li>
                    <li *ngFor="let page of pager.pages">
                      <a
                        [ngClass]="{ active: pager.currentPage === page }"
                        href="#"
                        (click)="setPage(page); $event.preventDefault()"
                        >{{ page }}</a
                      >
                    </li>
                    <li
                      [ngClass]="{
                        disabled: pager.currentPage === pager.totalPages
                      }"
                    >
                      <a
                        href="#"
                        (click)="
                          setPage(pager.currentPage + 1);
                          $event.preventDefault()
                        "
                        >Next</a
                      >
                    </li>
                    <li
                      [ngClass]="{
                        disabled: pager.currentPage === pager.totalPages
                      }"
                    >
                      <a
                        href="#"
                        (click)="
                          setPage(pager.totalPages); $event.preventDefault()
                        "
                        >Last</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- .col -->
              <div class="col-lg-4 order-lg-first">
                <div class="sidebar me-lg-4 mt-5 mt-lg-0">
                  <div class="wgs wgs-search">
                    <form action="#" class="field-inline">
                      <input
                        type="text"
                        placeholder="Search Keyword"
                        class="input-bordered"
                      />
                      <button class="btn btn-primary btn-icon">
                        <em class="ti ti-search"></em>
                      </button>
                    </form>
                  </div>
                  <div class="wgs wgs-category">
                    <h6 class="wgs-title">Category</h6>
                    <div class="wgs-body">
                      <ul class="wgs-links wgs-links-category">
                        <li>
                          <a
                            href="#"
                            [class.active-category]="activeCategory === 'News'"
                            (click)="filterCategory('News', $event)"
                            >News</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            [class.active-category]="
                              activeCategory === 'Articles'
                            "
                            (click)="filterCategory('Articles', $event)"
                            >Articles</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="wgs wgs-tags">
                    <h6 class="wgs-title">Tags</h6>
                    <div class="wgs-body">
                      <ul class="wgs-links wgs-links-tags">
                        <li><a href="#">nexus</a></li>
                        <li><a href="#">bitcoin</a></li>
                        <li><a href="#">released</a></li>
                        <li><a href="#">tokens</a></li>
                        <li><a href="#">roadmap</a></li>
                        <li><a href="#">crypto</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="wgs wgs-archive">
                    <h6 class="wgs-title">Archive</h6>
                    <div class="wgs-body">
                      <select
                        name="post-archive"
                        class="select"
                        data-select2-placehold="Select Month"
                      >
                        <option label="placeholder"></option>
                        <option value="All">All</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- .row -->
          </div>
          <!-- .nk-block -->
        </div>
        <!-- .container -->
      </section>
      <!-- .section -->
    </main>
  </div>

  <nexus-footer></nexus-footer>
</body>
