<!-- Header @s -->
<div class="header-main">
  <div class="header-container container">
    <div class="header-wrap">
      <!-- Logo @s -->
      <div
        class="header-logo logo animated"
        data-animate="fadeInDown"
        data-delay=".6"
      >
        <a href="./" class="logo-link">
          <img
            class="logo-dark"
            src="./../../images/nexus-logo-blue.png"
            alt="logo"
          />
          <img
            class="logo-light"
            src="./../../images/nexus-logo-white.png"
            alt="logo"
          />
        </a>
      </div>
      <!-- Menu Toogle @s -->
      <div class="header-nav-toggle">
        <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
          <div class="toggle-line">
            <span></span>
          </div>
        </a>
      </div>
      <!-- Menu @s -->
      <div
        class="header-navbar animated"
        data-animate="fadeInDown"
        data-delay=".75"
      >
        <nav class="header-menu" id="header-menu">
          <ul class="menu">
            <li class="menu-item has-sub">
              <a class="menu-link nav-link menu-toggle" href="#">Technology</a>
              <div class="menu-sub menu-drop menu-mega menu-mega-3clmn">
                <div class="menu-mega-innr">
                  <ul class="menu-mega-list">
                    <li class="menu-item">
                      <a href="index-azalea.html"
                        >Azalea Dark<span class="badge badge-xs badge-light"
                          >v1.6</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-azalea-multi.html"
                        >Azalea Multi<span class="badge badge-xs badge-light"
                          >v1.6</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-gentian.html"
                        >Gentian Dark<span class="badge badge-xs badge-light"
                          >v1.5</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-gentian-pro.html"
                        >Gentian Pro<span class="badge badge-xs badge-light"
                          >v1.5</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-gentian-multi.html"
                        >Gentian Multi<span class="badge badge-xs badge-light"
                          >v1.5</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-zinnia.html">Zinnia Pro</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-salvia.html">Salvia Pro</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-lungwort.html">Lungwort Dark</a>
                    </li>
                  </ul>
                  <ul class="menu-mega-list">
                    <li class="menu-item">
                      <a href="index-jasmine.html">Jasmine Light</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-lobelia.html">Lobalia Dark</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-muscari.html">Muscari Pro</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-lavender.html">Lavender Pro</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-azure-pro.html">Azure Pro</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-azure.html">Azure Dark</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-dark-pro.html">Default Dark Pro</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-light.html">Default Light</a>
                    </li>
                  </ul>
                  <ul class="menu-mega-list">
                    <li class="menu-item">
                      <a href="index-dark.html">Default Dark</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-linum-wallet.html"
                        >Linum Wallet<span class="badge badge-xs badge-light"
                          >v1.8</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-flax-wallet.html"
                        >Flax Wallet<span class="badge badge-xs badge-light"
                          >v1.8</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-crocus-multi.html"
                        >Crocus Multi<span class="badge badge-xs badge-light"
                          >v1.9</span
                        ></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-cyanus-multi.html">Cyanus Multi</a>
                    </li>
                    <li class="menu-item">
                      <a href="index-blockchain.html"
                        >Blockchain
                        <span class="badge badge-xs badge-new">new</span></a
                      >
                    </li>
                    <li class="menu-item">
                      <a href="index-nft-portfolio.html"
                        >NFT Portfolio
                        <span class="badge badge-xs badge-new">new</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item has-sub">
              <a class="menu-link nav-link menu-toggle" href="#">Develop</a>
              <div class="menu-sub menu-drop menu-mega menu-mega-2clmn">
                <div class="menu-mega-innr">
                  <ul class="menu-mega-list">
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-about.html"
                        >About Us - Base</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-about-v2.html"
                        >About Us - Linum</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-about-v3.html"
                        >About Us - Cyanus<span class="badge badge-dot"></span
                      ></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-team.html"
                        >Our Teams</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-wallets.html"
                        >Wallets -v1</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-wallets-v2.html"
                        >Wallets -v2</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-features.html"
                        >Features</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-token-sale.html"
                        >Token Sale</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-roadmap.html"
                        >Roadmap</a
                      >
                    </li>
                  </ul>
                  <ul class="menu-mega-list">
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-download.html"
                        >Download</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-faq.html"
                        >FAQs</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-contact.html"
                        >Contact - Base</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-contact-v2.html"
                        >Contact - Cyanus<span class="badge badge-dot"></span
                      ></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-exchange.html"
                        >Exchange - Cyanus<span class="badge badge-dot"></span
                      ></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-partner.html"
                        >Partner - Cyanus<span class="badge badge-dot"></span
                      ></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-mission.html"
                        >Mission - Cyanus<span class="badge badge-dot"></span
                      ></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-career.html"
                        >Career - Cyanus<span class="badge badge-dot"></span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item has-sub">
              <a class="menu-link nav-link menu-toggle" href="#">Use</a>
              <ul class="menu-sub menu-drop">
                <li class="menu-item has-sub">
                  <a class="menu-link nav-link menu-toggle" href="#"
                    >Blog Pages</a
                  >
                  <ul class="menu-sub menu-drop">
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="blog-3clmn.html"
                        >Blog 3 Column</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="blog-sidebar-left.html"
                        >Blog Sidebar - Left</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="blog-sidebar-right.html"
                        >Blog Sidebar - Right</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="blog-details.html"
                        >Blog Single - Sidebar</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="blog-details-full.html"
                        >Blog Single - Full Width</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-sub">
                  <a class="menu-link nav-link menu-toggle" href="#"
                    >Auth Pages</a
                  >
                  <ul class="menu-sub menu-drop">
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-login.html"
                        >Login - v1</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-register.html"
                        >Register - v1</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-reset.html"
                        >Reset - v1</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-login-v2.html"
                        >Login - v2</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-register-v2.html"
                        >Register - v2</a
                      >
                    </li>
                    <li class="menu-item">
                      <a class="menu-link nav-link" href="page-reset-v2.html"
                        >Reset - v2</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-sub">
                  <a class="menu-link nav-link menu-toggle" href="#"
                    >Coming Soon</a
                  >
                  <ul class="menu-sub menu-drop">
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="coming-soon-azalea.html"
                        target="_blank"
                        >Coming Soon - Azalea</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="coming-soon-gentian.html"
                        target="_blank"
                        >Coming Soon - Gentian</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="coming-soon-gentian-alt.html"
                        target="_blank"
                        >Coming Soon - Gentian Alt</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="coming-soon-dark.html"
                        target="_blank"
                        >Coming Soon - Dark</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="coming-soon-light.html"
                        target="_blank"
                        >Coming Soon - Light</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-sub">
                  <a class="menu-link nav-link menu-toggle" href="#"
                    >Error 404</a
                  >
                  <ul class="menu-sub menu-drop">
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="error-404-gentian.html"
                        target="_blank"
                        >404 - Gentian</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="error-404-gentian-alt.html"
                        target="_blank"
                        >404 - Gentian Alt</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="error-404-azalea.html"
                        target="_blank"
                        >404 - Azalea</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="error-404-dark.html"
                        target="_blank"
                        >404 - Dark</a
                      >
                    </li>
                    <li class="menu-item">
                      <a
                        class="menu-link nav-link"
                        href="error-404-light.html"
                        target="_blank"
                        >404 - Light</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item has-sub">
              <a class="menu-link nav-link menu-toggle" href="#">Resources</a>
              <div class="menu-sub menu-drop menu-mega menu-mega-2clmn">
                <div class="menu-mega-innr">
                  <ul class="menu-mega-list">
                    <li class="menu-item">
                      <a class="menu-link nav-link" routerLink="whitepapers"
                        >Whitepapers</a
                      >
                    </li>

                    <!-- <li class="menu-item">
                      <a href="element-icon.html"
                        >Custom Icons<span class="badge badge-xs badge-info"
                          >v1.6.2</span
                        ></a
                      >
                    </li> -->
                  </ul>
                </div>
              </div>
            </li>
            <li class="menu-item">
              <a class="menu-link nav-link" routerLink="team">Team</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- .header-navbar @e -->
    </div>
  </div>
</div>
<!-- .header-main @e -->
