<footer class="nk-footer bg-theme-grad">
  <section class="section no-pdy section-contact bg-transparent">
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block block-contact">
        <div class="row justify-content-center g-0">
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
    <div class="nk-ovm ovm-top ovm-h-50 bg-light"></div>
    <!-- .nk-ovm -->
  </section>
  <!-- // -->
  <section class="section section-footer tc-light bg-transparent">
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block block-footer">
        <div class="row">
          <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
            <div class="wgs wgs-menu">
              <h6 class="wgs-title">Company</h6>
              <div class="wgs-body">
                <ul class="wgs-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Meet Our Team</a></li>
                  <li><a href="#">Advisors</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Insights</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
            <div class="wgs wgs-menu">
              <h6 class="wgs-title">Legal</h6>
              <div class="wgs-body">
                <ul class="wgs-links">
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Sales</a></li>
                  <li><a href="#">Whitepaper</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
            <div class="wgs wgs-menu">
              <h6 class="wgs-title">Quick Links</h6>
              <div class="wgs-body">
                <ul class="wgs-links">
                  <li><a href="#">Ecosystems</a></li>
                  <li><a href="#">Tokens</a></li>
                  <li><a href="#">Roadmaps</a></li>
                  <li><a href="#">Faqs</a></li>
                  <li><a href="#">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-6 mb-4 mb-lg-0 order-lg-first">
            <div class="wgs wgs-text">
              <div class="wgs-body">
                <a href="./" class="logo-link">
                  <img
                    class="logo-dark"
                    src="./../../images/nexus-logo-blue.png"
                    alt="logo"
                  />
                  <img
                    class="logo-light"
                    src="./../../images/nexus-logo-white.png"
                    alt="logo"
                  />
                </a>
                <p>
                  Copyright &copy; 2022 Nexus. <br />
                  All rights reserved.
                </p>
              </div>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>
  <div class="nk-ovm shape-b"></div>
</footer>
