# See http://help.github.com/ignore-files/ for more about ignoring files.
.angular/cache/

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/data/developer updates/2025-03-01/Recording 2025-03-01.m4a
src/assets/data/developer updates/2025-03-01/Transcript 2025-03-01.pdf
src/assets/data/developer updates/2025-03-07/Recording 2025-03-07.m4a
src/assets/data/developer updates/2025-03-07/Transcript 2025-03-07.pdf
src/assets/data/developer updates/2025-03-14/Recording 2025-03-14.m4a
src/assets/data/developer updates/2025-03-14/Transcript 2025-03-14.pdf
src/assets/data/developer updates/2025-03-21/Recording 2025-03-21.m4a
src/assets/data/developer updates/2025-03-21/Transcript 2025-03-21.pdf
src/assets/data/developer updates/2025-03-28/Recording 2025-03-28.m4a
src/assets/data/developer updates/2025-03-28/Transcript 2025-03-28.pdf
src/assets/data/developer updates/2025-04-04/Recording 2025-04-04.m4a
src/assets/data/developer updates/2025-04-04/Transcript 2025-04-04.pdf
src/assets/data/developer updates/2025-04-11/Recording 2025-04-11.m4a
src/assets/data/developer updates/2025-04-11/Transcript 2025-04-11.pdf
src/assets/data/developer updates/2025-04-18/Recording 2025-04-18.m4a
src/assets/data/developer updates/2025-04-18/Transcript 2025-04-18.pdf
src/assets/data/developer updates/2025-05-09/Recording 2025-05-09.m4a
src/assets/data/developer updates/2025-05-09/Transcript 2025-05-09.pdf
src/assets/data/developer updates/2025-05-16/Recording 2025-05-16.m4a
src/assets/data/developer updates/2025-05-16/Transcript 2025-05-16.pdf
src/assets/data/developer updates/2025-05-23/Recording 2025-05-23.m4a
src/assets/data/developer updates/2025-05-23/Transcript 2025-05-23.pdf
src/assets/data/developer updates/2025-05-30/Recording 2025-05-30.m4a
src/assets/data/developer updates/2025-05-30/Transcript 2025-05-30.pdf
src/assets/data/developer updates/2025-06-06/Recording 2025-06-06.m4a
src/assets/data/developer updates/2025-06-06/Transcript 2025-06-06.pdf
src/assets/data/developer updates/2025-06-13/Recording 2025-06-13.m4a
src/assets/data/developer updates/2025-06-13/Transcript 2025-06-13.pdf
src/assets/data/developer updates/2025-06-20/Recording 2025-06-20.m4a
src/assets/data/developer updates/2025-06-20/Transcript 2025-06-20.pdf
src/assets/data/developer updates/2025-06-27/Recording 2025-06-27.m4a
src/assets/data/developer updates/2025-06-27/Transcript 2025-06-27.pdf
src/assets/data/developer updates/2025-06-27/Vision 2025-06-27.m4a
src/assets/data/developer updates/2025-06-27/Vision Update 2025-06-27.pdf
src/assets/data/developer updates/2025-07-04/Recording 2025-07-04.m4a
src/assets/data/developer updates/2025-07-04/Transcript 2025-07-04.pdf
src/assets/data/developer updates/2025-07-04/Vision 2025-07-04.m4a
src/assets/data/developer updates/2025-07-04/Vision 2025-07-04.pdf
src/assets/data/developer updates/2025-07-11/Recording 2025-07-11.m4a
src/assets/data/developer updates/2025-07-11/Transcript 2025-07-11.pdf
src/assets/data/developer updates/2025-07-18/Recording 2025-07-18.m4a
src/assets/data/developer updates/2025-07-18/Transcript 2025-07-18.pdf
src/assets/data/developer updates/2025-07-25/Recording 2025-07-25.m4a
src/assets/data/developer updates/2025-07-25/Transcript 2025-07-25.pdf
src/assets/data/developer updates/2025-08-01/Recording 2025-08-01.m4a
src/assets/data/developer updates/2025-08-01/Transcript 2025-08-01.pdf
