<body class="nk-body body-wider bg-light">
  <div class="nk-wrap">
    <header
      class="nk-header page-header is-transparent is-sticky is-shrink"
      id="header"
    >
      <!-- Banner @s -->
      <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
          <div class="banner banner-page">
            <div class="banner-wrap">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-9">
                    <div class="banner-caption cpn tc-light text-center">
                      <div class="cpn-head">
                        <div
                          class="section-head section-head-sm text-center wide-auto-sm"
                        >
                          <h2
                            class="title title-s4 animated fadeInUp"
                            data-animate="fadeInUp"
                            data-delay=".1"
                            title="whitepapers"
                            style="visibility: visible; animation-delay: 0.1s"
                          >
                            Whitepapers
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
      </div>
      <!-- .header-banner @e -->
    </header>

    <div class="section bg-light">
      <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="feature feature-document">
                <div class="feature-document-img">
                  <img src="./../../images/docs/alt-sm-a.png" alt="" />
                </div>
                <div class="feature-document-text">
                  <span class="feature-document-info"
                    >White Paper<span>(PDF)</span></span
                  >
                  <div class="drop-wrap">
                    <a href="#" class="feature-document-link toggle-tigger"
                      ><em class="ti ti-import"></em
                    ></a>
                    <ul
                      class="drop-list drop-list-xs drop-list-center toggle-class toggle-drop"
                    >
                      <li><a href="#">FR</a></li>
                      <li><a href="#">CH</a></li>
                      <li><a href="#">BR</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="feature feature-document">
                <div class="feature-document-img">
                  <img src="./../../images/docs/alt-sm-a.png" alt="" />
                </div>
                <div class="feature-document-text">
                  <span class="feature-document-info"
                    >One Pager<span>(PDF)</span></span
                  >
                  <a href="#" class="feature-document-link"
                    ><em class="ti ti-import"></em
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="feature feature-document">
                <div class="feature-document-img">
                  <img src="./../../images/docs/alt-sm-a.png" alt="" />
                </div>
                <div class="feature-document-text">
                  <span class="feature-document-info"
                    >Terms of Sales<span>(PDF)</span></span
                  >
                  <a href="#" class="feature-document-link"
                    ><em class="ti ti-import"></em
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="feature feature-document">
                <div class="feature-document-img">
                  <img src="./../../images/docs/alt-sm-a.png" alt="" />
                </div>
                <div class="feature-document-text">
                  <span class="feature-document-info"
                    >Privacy &amp; Policy<span>(PDF)</span></span
                  >
                  <a href="#" class="feature-document-link"
                    ><em class="ti ti-import"></em
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .block @s -->
      </div>
    </div>
  </div>
</body>
