.video {
    flex-grow: 1; 
    border: none; 
    margin: 0; 
    padding: 0;
    align-self: center;
}

.modal-body {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    // background-color: rgb(2,94,147);
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #1b2f3a 100%) !important
}

.modal-header {
    background-color:  #fff;
    border-bottom: 0px;
    opacity: 0.7;
}
