<body class="nk-body body-wider bg-light">
  <div class="nk-wrap">
    <nexus-page-header
      [title]="'Glossary'"
      headerText="Bad terminology is the enemy of good thinking."
      [isSmall]="true"
    >
    </nexus-page-header>
  </div>

  <section class="section bg-white" id="faqs">
    <div class="container">
      <div class="section-head text-center">
        <h2 class="title title-s4" title="FAQS">Nexus - Glossary</h2>
        <p>
          With the advancement of our technology, Nexus has introduced several
          words into the crypto vocabulary. These words are sprinkled throughout
          many of our pages, as well as in our Whitepapers found on our website.
          We have created a Glossary to help define our meaning of these new
          words. <br />If there are additional terms not listed below that you
          would like to see added, please visit the Inquiry page and submit a
          request for the team under the "Feedback" topic.
        </p>
      </div>
      <!-- .section-head @e -->
      <!-- Block @s -->
      <div class="nk-block">
        <div class="row justify-content-center">
          <div class="col-xl-10 col-lg-12">
            <div class="accordion" id="faq-67">
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title accordion-title-sm collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-1"
                >
                  API
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-1" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      An API is an Application Programming Interface. While a
                      user interacts with a system through a user interface, an
                      API allows developers to interact through a programmatic
                      interface. The API provides a list or set of simple
                      commands that execute a series of operations, which would
                      otherwise require specialist programming knowledge. This
                      allows a developer to request or submit data to a system
                      providing functionality to a higher-level application. For
                      example, Facebook’s Graph API allows access to 'Login with
                      Facebook' and other features of their system.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title accordion-title-sm collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-2"
                >
                  Block Weight
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-2" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      Upon receipt of a Genesis transaction, this value will
                      begin increasing slowly, reaching 100% in 3 days time.
                      Every time you receive a staking transaction, the block
                      weight resets. Your wallet must mine a stake block and
                      generate a transaction before it reaches 100% for trust
                      weight and stake rate to keep increasing. If your block
                      weight reaches 100%, it will stay at 100% and both your
                      trust weight and stake rate will begin to decay.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-3"
                >
                  Conditional contract
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-3" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      What Nexus calls a conditional contract, is a
                      self-executing contract made between two or more parties.
                      The terms or ‘conditions’ of the contract are written in
                      code. They self-execute when the conditions are met, and
                      therefore don’t need the requirement of a third party or a
                      middleman, such as a broker. For instance, Alice will send
                      Bob 100,000 NXS, if Bob transfers to Alice a property
                      title. In the real world, this type of exchange would
                      involve a solicitor to make sure that neither of the
                      parties default on their part of the exchange. Once the
                      solicitor has in their hands the funds and the house
                      title, the solicitor then facilitates the exchange. This
                      adds administration costs to the transaction, while
                      requiring ‘trust’. In some countries, fraudulent lawyers
                      are not uncommon. With smart contracts, once the 100,000
                      NXS and the property title are transferred into the
                      contract from the previous owners, they are then
                      transferred on to the new owners, without the need of a
                      third-party solicitor.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-4"
                >
                  Smart contract
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-4" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      Smart Contracts are self-executing. Their design is to
                      enforce the terms and conditions of a contract through
                      programmable logic, reducing the need for third party
                      intermediaries such as brokers and banks. Smart Contracts
                      are an additional layer of processing above the ledger
                      layer, i.e what is known as ‘the blockchain’, and are
                      comparable to small computer programs that hold a state of
                      information. The calculations of the contract are carried
                      out by the processing nodes of a blockchain, which change
                      the state of the information. Given that the calculations
                      or processing is carried out by decentralized consensus,
                      the state of a Smart Contract is immutable. Any contract
                      engine that uses a centralized consensus is basically a
                      glorified database and should not be considered a smart
                      contract engine, since the data can be manipulated by a
                      central authority.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-5"
                >
                  Staking Difficulty
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-5" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      Similar to other forms of mining, Proof of Stake mining
                      has a level of difficulty. As more people successfully
                      stake on the network, the difficulty of staking increases.
                      This results in an increasing amount of NXS required to
                      increase the stake rate. Furthermore, a larger balance of
                      NXS in your wallet will increase the frequency of NXS
                      rewards.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-6"
                >
                  Stake Rate
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-6" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      This value represents your current annual NXS rate of
                      return (%). The rate starts at 0.5%, and can increase to
                      3.0% after 12 months of consistent staking. The rate
                      increase is non linear, slowing in terms of its increase
                      over time. It takes several weeks of consistent staking to
                      reach 1.0%, and around four months to reach 2.0%. With
                      this rate, you can calculate the average amount of NXS you
                      can expect to receive each day for staking.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-7"
                >
                  Stake Weight
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-7" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      This value represents your current annual NXS rate of
                      return (%). The rate starts at 0.5%, and can increase to
                      3.0% after 12 months of consistent staking. The rate
                      increase is non linear, slowing in terms of its increase
                      over time. It takes several weeks of consistent staking to
                      reach 1.0%, and around four months to reach 2.0%. With
                      this rate, you can calculate the average amount of NXS you
                      can expect to receive each day for staking. Stake weight
                      is a derivative value calculated from trust weight and
                      block weight. It indicates their combined impact on
                      chances to generate a staking transaction. The higher your
                      stake weight, the greater your chance of receiving a
                      transaction. The exact value is derived from your trust
                      weight and block weight.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-8"
                >
                  TAO Framework
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-8" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <div class="panel" style="max-height: 100%">
                      <p>
                        Each letter represents one of the three upgrades of the
                        TAO Framework which includes the deployment of the
                        Three-Dimensional Chain (3DC). Each consensus upgrade
                        corresponds to the addition of a transaction level lock
                        which will transform transaction processing into a
                        multi-dimensional process. You can learn more about the
                        TAO framework on our website's
                        <a target="_blank" href="./roadmap">Roadmap</a> page.
                      </p>
                      <p>
                        Tritium (T) – L1 <br />
                        Amine (A) – L2<br />
                        Obsidian (O) – L3
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-9"
                >
                  Trust
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-9" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      Nexus implements a reputation mechanism called ‘trust’
                      that records the consistent time that a node contributes
                      to the validation process. Trust decreases three times
                      faster than it accrues and translates into a variable
                      stake reward of between 0.5% to 3% per annum. Trust also
                      benefits the Network layer, where nodes can determine the
                      reputation or reliability of the nodes they are talking
                      to, increasing security against 'Sybil Attacks'.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item accordion-item-s3">
                <h5
                  class="accordion-title collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-67-10"
                >
                  Trust Weight
                  <span class="accordion-icon accordion-icon-s2"></span>
                </h5>
                <div id="faq-67-10" class="collapse" data-bs-parent="#faq-67">
                  <div class="accordion-content">
                    <p>
                      An indication of how much the network trusts your node. It
                      starts at 1.11% and increases in a non-linear manner like
                      stake rate does. Your level of trust increases your stake
                      weight (below), thus increasing your chances of mining
                      stake blocks and receiving staking rewards. It becomes
                      easier to maintain trust as this value increases.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>

  <!-- Footer -->
  <nexus-footer></nexus-footer>
</body>
