.protocol {
  margin-top: 1.5rem;
}

.banner.banner-page {
  padding-bottom: 0px;
}

.layers {
  padding-bottom: 2rem !important;
}

// img.cubes {
//   max-width: 85%;
// }

.sigchain-documentation,
.qr-documentation,
.tree-d-documentation {
  padding-top: 2rem;
}
