.protocol {
  margin-top: 1.5rem;
}

.banner.banner-page {
  padding-bottom: 0px;
}

.layers {
  padding-bottom: 2rem !important;
}

.header-wrap {
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .header-sub {
    display: none;
  }
}

.header-main {
  background-color: #0b3149;
  padding: 0px;

  position: sticky;
  top: 73px;
  z-index: 99999999;
}

.menu-item a {
  color: #e3f5ff;

  &:hover {
    color: #46bdf4;
  }
}
