<body class="nk-body body-wider bg-light">
  <div class="nk-wrap">
    <nexus-page-header
      [title]="'Blockchain'"
      headerText="The right way to think about the blockchain is that
    it's going to replace the entire Internet."
      [isSmall]="true"
    >
    </nexus-page-header>
  </div>

  <div class="header-main header-sub">
    <div class="header-container container">
      <div class="header-wrap">
        <!-- Menu @s -->
        <div class="header-navbar">
          <nav class="header-menu">
            <ul class="menu">
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(vm); $event.preventDefault()"
                  >Virtual Machine</a
                >
              </li>
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(software); $event.preventDefault()"
                  >Software Stack</a
                >
              </li>
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(sigchains); $event.preventDefault()"
                  >Signature Chains</a
                >
              </li>
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(qr); $event.preventDefault()"
                  >Quantum Resistance</a
                >
              </li>
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(treedc); $event.preventDefault()"
                  >3DC</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <!-- .header-navbar @e -->
      </div>
    </div>
  </div>
  <!-- .header-main @e -->

  <section class="section protocol pdt-1 ov-v" #vm>
    <div class="ui-mask-left ui-mask-s8"></div>
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block nk-block-text-wrap">
        <div
          class="row align-items-center gutter-vr-30px justify-content-between"
        >
          <div class="col-lg-7 col-mb-8 m-auto order-first order-lg-last">
            <div
              class="nk-block-img"
              data-animate="fadeInUp"
              data-delay=".1"
              title="Decentralized"
              style="visibility: visible; animation-delay: 0.1s"
            >
              <img src="images/virtualmachine.png" alt="app" />
            </div>
          </div>
          <div class="col-lg-5">
            <div class="nk-block-text">
              <div class="nk-block-shade"></div>
              <h3
                class="title title-s2 title-s2-alt animated"
                data-animate="fadeInUp"
                data-delay=".2"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.2s"
              >
                Virtual Machine
              </h3>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay=".3"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.3s"
              >
                Nexus is built to verify the authenticity, as well as the
                computation of data. It is powered by a seven-layered software
                stack operating as a 64-bit register-based process virtual
                machine (an interpreter) rather than a stack-based script, EVM,
                or JVM. Each layer carries out a specialized process increasing
                the efficiency of contract processing.
              </p>
            </div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>

  <section class="section bg-white ov-v" #software>
    <div class="background-shade d-none d-md-block">
      <div class="container">
        <div class="background-shade-left"></div>
        <div class="background-shade-right"></div>
      </div>
    </div>
    <div class="container">
      <div class="nk-block">
        <div class="row gutter-vr-30px">
          <div class="col-lg-6">
            <div>
              <h3
                class="sub-heading-s2 mgb-m title-semibold title title-s2 text-center"
              >
                Software Stack
              </h3>
              <div>
                <img src="images/stack.png" alt="stack" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <section class="section bg-light-alt pd-s layers">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <h3
                      class="sub-heading-s2 mgb-m title-semibold title title-s2 text-center"
                    >
                      7 layers
                    </h3>
                    <div id="acc-3" class="accordion">
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-1"
                        >
                          Interface
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-1"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              The interface is the user space, i.e the buttons
                              used to interact with the Dapp. This layer can be
                              accompanied by various technologies from AR/VR to
                              mobile interfaces. Our official Interface Layer,
                              provides a platform for developers to build
                              modules and applications that embed directly into
                              the Nexus Wallet.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-2"
                        >
                          Logical
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-2"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              This is the first layer of the developer
                              application space which forms the logic of most
                              applications. This layer interacts directly with
                              the API below it, and provides functionality that
                              does not depend on direct access to the
                              blockchain.
                            </p>
                            <p>
                              An example of this could be simple requests such
                              as: ‘Send a message to this user if another user
                              completed this event.’ We postulate that in the
                              future this layer will also be driven by AI
                              systems.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-3"
                        >
                          API
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-3"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              This layer provides an interface that allows
                              developers to gain direct access to blockchain
                              functionality. It is based on a simple verb and
                              noun semantics, and accepts a wide variety of
                              encoding. It is the gateway into the blockchain,
                              that can be used without direct access to the
                              lower levels of the software stack, making
                              development on Nexus as easy as developing a web
                              application.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-4"
                        >
                          Operations
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-4"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              Operations are instructions or actions that give
                              registers context, and define more complex
                              contract logic. A contract is an object
                              containing: a register pre-state (the register
                              that is being operated on that was passed upwards
                              from the Register Layer), a primitive operation
                              (only one primitive operation per contract), and a
                              set of conditions (any amount of conditional
                              operations).
                            </p>

                            <div class="tc-info">Primitive Operations:</div>
                            <p>
                              The current iteration of the Operations Layer
                              contains 16 primitive operations, and 54
                              conditional operations and types. The primitive
                              operations can be best described as the actions
                              taking place on the register such as: WRITE,
                              DEBIT, TRANSFER, APPEND, etc. These actions
                              themselves cause the register to change its state
                              in some way or form, including its movement from
                              one signature chain to another.
                            </p>

                            <div class="tc-info">Conditional Contracts:</div>
                            <p>
                              Conditional Contracts are an agreement between
                              participating parties, outlining a set of
                              requirements that must be met for a transaction to
                              complete. They are the building blocks that allow
                              users to engage with one another, such as contract
                              expiration, or the exchanging of items. More
                              advanced forms of non-custodial escrow or
                              arbitration are also possible. Conditional
                              statements have no limit to their complexity,
                              being capable of handling groups of groups of
                              conditions that together evaluate to either true
                              or false. In the case the conditions return true,
                              this allows the recipient of the transaction to
                              claim their funds or object (depending on if this
                              was a TRANSFER or DEBIT). In the case that the
                              recipient is unable to satisfy the conditions,
                              after a period of time set by the sender, the
                              transaction will be redeemable.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-5"
                        >
                          Register
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-5"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              A register is the fastest storage medium inside
                              your computer’s CPU (Central Processing Unit),
                              that the processor uses to cache data in between
                              calculations. This has become a more desirable
                              architecture for computer design as an improvement
                              to a much older architecture called a ‘stack’.
                            </p>
                            <p>
                              Nexus Registers are a data storage system that
                              maintain an immutable record and history,
                              including current and previous states, therefore
                              they can be used to record the state of
                              applications.
                            </p>
                            <p>
                              The ownership of a register can be transferred
                              between Sigchains, and thus perform as Assets,
                              Tokens or simple objects, such as a crypto kitty.
                              A register can also be owned by a token, creating
                              partial ownership of the asset it represents. The
                              Register Layer consists of three main components:
                              Object Registers, State Registers, and a 64-bit
                              Register Based Virtual Machine for condition
                              execution.
                            </p>
                            <p>
                              Every register on the Nexus blockchain has two
                              main properties: An address (referred to as a
                              register address) which is used to determine the
                              location of the data in the register database, and
                              an owner, which is the genesis hash of the
                              Signature Chain that currently owns the register.
                            </p>
                            <div class="tc-info">Object Registers:</div>
                            <p>
                              Object Registers are programmable type-safe
                              objects recorded with a predetermined structure
                              which describes an asset, token, or programmer’s
                              object. They can be used for a wide variety of
                              purposes including company shares, digital assets,
                              certificates, data files, and accounts. Data
                              fields inside the object carry specifiers that
                              define whether the field can be mutable, making
                              the object itself able to enforce certain fields
                              to have read-only or write access.
                            </p>
                            <div class="tc-secondary">
                              Image ID: 108629084398374<br />
                              License Type: Enhanced<br />
                              Image Title: Arizona Sunset<br /><br />
                            </div>
                            <p>
                              The above example displays a meta-data format for
                              a photographic asset that is stored in a
                              programmable object register. This format can be
                              augmented with mutable and immutable type
                              specifiers, meaning that a field such as ‘Image
                              Title’ in the example above, could be mutable and
                              able to be modified, while the other fields would
                              remain immutable.
                            </p>
                            <div class="tc-info">State Register:</div>
                            <p>
                              A state register is a simple register that can
                              store data in any sequence without an enforced
                              format by the Ledger. These would be used by a
                              Dapp to record an immutable state. State Registers
                              have two forms: RAW and APPEND. A RAW register is
                              bound by its initial size, and can be written to
                              at any time, while an APPEND register can only
                              have data appended to its state, keeping the
                              original contents immutable.
                            </p>
                            <div class="tc-info">Virtual Machine:</div>
                            <p>
                              Conditional Statements are processed on top of the
                              Virtual Machine which uses 64-bit registers to
                              maintain the state of temporary condition
                              variables as they are processed. The VM increases
                              the efficiency of conditional statements, as it
                              doesn’t carry the overhead of ‘pushing and
                              popping’ from the stack as do other VMs. This part
                              of the Register Layer is responsible for the
                              incredible speed of conditional execution,
                              requiring only 50 nanoseconds on average per
                              instruction.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-6"
                        >
                          Ledger
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-6"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              The Ledger is responsible for ensuring all data is
                              formed under consensus and is immutable by nature.
                              It manages ownership between parties using
                              cryptographic primitives such as hashing, digital
                              signatures, and consensus protocols. It is
                              composed of signature chains for user-level
                              states, and the proposed architecture of the
                              Three-Dimensional Chain (3DC) for the global
                              state, the latter of which is under development
                              through the TAO framework.
                            </p>
                            <div class="tc-info">Signature Chains:</div>
                            <p>
                              A Signature Chain is a decentralized blockchain
                              account that allows you to login from any computer
                              with a username, password, and pin, without the
                              need for wallet.dat files or constantly rescanning
                              the database. They are comparable to a personal
                              blockchain that allows decentralized access
                              through the login system, removing the need to
                              store private keys. Sigchains deterministically
                              create a mathematical 'lock' that only your login
                              credentials can unlock.
                            </p>
                            <p>
                              Fundamentally, a Signature Chain decouples the
                              private key from the account, therefore one is not
                              bound by possession or security of this single
                              private key. The private key becomes obsolete when
                              the next transaction is generated, producing
                              higher levels of security compared to the
                              continual reuse of a private key, as is the case
                              with other blockchain technologies. Other benefits
                              come from the efficiency gained by reducing the
                              requirement of storing a large amount of
                              signatures on disk, and the ability to use a
                              variety of key types such as FALCON for increased
                              Quantum Resistance.
                            </p>
                            <div class="tc-info">Consensus:</div>
                            <p>
                              Two Proof of Work (PoW) channels (Prime and
                              Hashing) and one Proof of Stake (PoS) channel are
                              used to secure the network. Consensus is balanced
                              between all three channels as it is based on
                              collective chain weight, providing a higher
                              resistance to 51% attacks compared to single
                              algorithm blockchains. As the TAO framework is
                              developed, these three forms of consensus will
                              become the three layers of the 3DC.
                            </p>
                            <div class="tc-info">Reputation:</div>
                            <p>
                              Nexus implements a reputation mechanism called
                              ‘Trust’ that records the consistent time that a
                              node contributes to the validation process. Trust
                              decreases three times faster than it accrues and
                              translates into a variable stake reward of between
                              0.5% to 3% per annum. Trust also benefits the
                              Network Layer, where nodes can determine the
                              reputation or reliability of the nodes they are
                              talking to, increasing security against Sybil
                              Attacks
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item accordion-item-s3">
                        <h5
                          class="accordion-title accordion-title-sm collapsed"
                          data-bs-toggle="collapse"
                          data-bs-target="#acc-3-7"
                        >
                          Network
                          <span class="accordion-icon"></span>
                        </h5>
                        <div
                          id="acc-3-7"
                          class="collapse"
                          data-bs-parent="#acc-3"
                        >
                          <div class="accordion-content">
                            <p>
                              The Network is responsible for the end-to-end
                              communication between nodes, handling the relaying
                              and receiving of ledger level data. Nexus augments
                              this layer by using ‘overlays’ which provide IPv6
                              functionality to the network, which allows the
                              user to control their IP address through
                              cryptography.
                            </p>

                            <div class="tc-info">Overlays:</div>
                            <p>
                              Our overlay of choice is LISP (Location Indicator
                              Separation Protocol). This creates better
                              connectivity between peers as the overlay
                              functions as a layer of ‘elevated trust’ to the
                              Internet when combined with the ledger
                              (blockchain), which increases the safety,
                              reliability, and security of the online
                              experience.
                            </p>
                            <div class="tc-info">IPv6:</div>
                            <p>
                              The LISP overlay combines IPv6 Crypto EIDs with
                              Signature Chains, enabling a fully encrypted
                              peer-to-peer communication system and
                              identification of the cryptographic keys through
                              the ledger.
                            </p>
                            <div class="tc-info">Multicast:</div>
                            <p>
                              Through the Amine and Obsidian upgrades, we will
                              deploy multicast links for message propagation
                              which will give us higher degrees of scalability
                              (constant time) in comparison to existing
                              blockchain models (exponential time). The
                              significance of constant time routing is that
                              messages relay from edge to edge of the network
                              much faster, even with a large number of connected
                              nodes.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .container -->
            </section>
          </div>
        </div>
      </div>
      <!-- .block @e -->
    </div>
  </section>

  <section
    class="section ov-v pdb-2 bg-theme-accent-alt"
    id="signatureChains"
    #sigchains
  >
    <div class="ui-mask-right ui-mask-s10"></div>
    <div class="container">
      <div class="nk-block">
        <div class="row align-items-center gutter-vr-30px">
          <div class="col-lg-6">
            <div class="nk-block-img">
              <img src="images/sigchain.png" alt="gfx" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="nk-block-text">
              <h2
                class="title title-s2 title-s2-alt animated"
                data-animate="fadeInUp"
                data-delay="0.1"
                title="sigchains_title"
                style="visibility: visible; animation-delay: 0.1s"
              >
                Signature Chains
              </h2>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay="0.2"
                title="sigchains"
                style="visibility: visible; animation-delay: 0.2s"
              >
                A Signature Chain generates one-time-use private keys that are
                derived from your Nexus wallet credentials (Username, Password
                and PIN). A Signature Chain is a personal identity on Nexus,
                which records all of your transactions and ownership history of
                digital assets. You no longer have to manage key and wallet
                backups, or use a plug-in such as Metamask.
              </p>
            </div>

            <div class="sigchain-documentation">
              <a
                class="btn btn-primary btn-lg"
                href="https://nexus-wiki.org/index.php/Signature_Chains"
                ><em class="link-icon fs-5"></em><span>Learn more</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="quantumResistance" class="section protocol pdt-0 ov-v" #qr>
    <div class="ui-mask-left ui-mask-s8"></div>
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block nk-block-text-wrap">
        <div
          class="row align-items-center gutter-vr-30px justify-content-between"
        >
          <div class="col-lg-7 col-mb-8 m-auto order-first order-lg-last">
            <div class="nk-block-img">
              <img src="images/quantumresistance.png" alt="app" />
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="nk-block-text animated"
              data-animate="fadeInUp"
              data-delay="0.3"
              title="Decentralized"
              style="visibility: visible; animation-delay: 0.3s"
            >
              <div class="nk-block-shade"></div>
              <h3 class="title title-s2 title-s2-alt">Quantum Resistance</h3>
              <p>
                Signature Chains enhance the security of existing DSA (Digital
                Signature Algorithm) by publishing only the public key’s hash
                until the key is used, while deterministically generating a new
                key once the old key is used. This results in high levels of
                security, as the attack window to brute force a private key is
                reduced to 500 ms. Signature Chains utilize the following
                cryptographic functions: FALCON (a second round contender for
                the NIST Post-Quantum cryptography competition), Argon2 (winner
                of the password hashing competition, and a superior alternative
                to S-Crypt or B-Crypt), and Keccak (winner of the SHA3
                competition).
              </p>
            </div>

            <div class="qr-documentation">
              <a
                class="btn btn-primary btn-lg"
                href="https://nexus-wiki.org/index.php/Quantum_Resistance"
                ><em class="link-icon fs-5"></em><span>Learn more</span></a
              >
            </div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>

  <section id="3dc" class="section ov-v pdb-2 bg-theme-accent-alt" #treedc>
    <div class="ui-mask-right ui-mask-s8"></div>
    <div class="container">
      <div class="nk-block">
        <div class="row align-items-center gutter-vr-30px">
          <div class="col-lg-5">
            <div class="nk-block-img">
              <img class="cubes" src="images/datacubenxs.png" alt="gfx" />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="nk-block-text">
              <h2
                class="title title-s2 title-s2-alt animated"
                data-animate="fadeInUp"
                data-delay="0.1"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.1s"
              >
                Three-Dimensional Chain (3DC)
              </h2>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay="0.2"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.2s"
              >
                The Three-Dimensional Chain (3DC) is designed to solve the
                'Blockchain Trilemma', an opinion that only two of three
                qualities; Security, Decentralization, and Scalability, are
                achievable concurrently. The 3DC has three consensus layers that
                check and balance one another creating security and
                decentralization, while the foundation layer aggregates sharded
                state, to achieve scalability.
              </p>
            </div>

            <div class="tree-d-documentation">
              <a
                class="btn btn-primary btn-lg"
                href="https://nexus-wiki.org/index.php/3DC_-_Simplified"
                ><em class="link-icon fs-5"></em><span>Learn more</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <nexus-footer></nexus-footer>
</body>
