<header
  class="nk-header page-header is-transparent is-sticky is-shrink"
  id="header"
>
  <!-- Banner @s -->
  <div class="header-banner bg-theme-grad">
    <div class="nk-banner">
      <div class="banner banner-page">
        <div class="banner-wrap">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-9">
                <div class="banner-caption cpn tc-light text-center">
                  <div class="cpn-head">
                    <div
                      class="section-head section-head-sm text-center wide-auto-sm"
                    >
                      <h2
                        class="title title-s4 animated fadeInUp"
                        data-animate="fadeInUp"
                        data-delay=".1"
                        title="Roadmap"
                        style="visibility: visible; animation-delay: 0.1s"
                      >
                        Roadmap
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container banner-caption cpn tc-light">
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-6 roadmap-header">
                <p>
                  Our roadmap shows the progress made in each of the core stages
                  of the TAO Framework which include the deployment of the
                  <a href="./blockchain#3dc">Three-Dimensional Chain (3DC)</a>.
                  Each letter represents one of the three consensus upgrades
                  that correspond to the addition of a lock level on the 3DC.
                </p>
              </div>

              <div class="col-md-3">
                <img
                  class="logo-light taocoin d-none d-md-block"
                  src="images/taocoin.png"
                  alt="logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .nk-banner -->
    <div class="nk-ovm shape-a-sm"></div>
    <div id="particles-bg" class="particles-container particles-bg"></div>
  </div>
  <!-- .header-banner @e -->
</header>

<div class="section section-roadmap" id="roadmap">
  <div class="ui-mask-left ui-mask-s11"></div>
  <div class="container">
    <!-- Block @s -->
    <div class="section-head text-center wide-auto">
      <h6 class="title title-xs title-light">The roadmap to success</h6>
      <h2 class="title title-lg title-dark">What are our major goals?</h2>
    </div>
    <div class="nk-block nk-block-roadmap">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="roadmap-wrap mb-0">
            <div class="roadmap-line"></div>
            <!-- <div class="roadmap">
              <div class="roadmap-year">2018</div>
            </div> -->
            <div class="roadmap roadmap-logo roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <div class="roadmap-title text-center">Mobile and Web Dapps</div>
                </div>

                <img class="logo-dark" src="images/integrateapi-light.png" alt="tritium" />
              </div>
            </div>
            <div class="roadmap roadmap-left roadmap-finished">
              <div class="roadmap-step">
                <!-- <div class="roadmap-head">
                  <span class="roadmap-time">TBD</span>
                  <span class="roadmap-title">Trust System</span>
                </div> -->
                <ul class="list list-dot roadmap-step-list">
                 <li> Mobile Wallet Official Release </li>
                  <li>  Mobile P2P Quantum Resistant Encrypted Chat App with Programmable chat rooms and user authentication</li>
                  <li>  Mobile Wallet additions to allow Remote Sessions for using Mobile Wallet and/or Desktop Wallet as a 2FA source</li>
                  <li>  Decentralized Search Engine (https://nexus.io/search) for censorship free search and personalized results based on local data. No tracking, no ads, no censorship. Reputation and results ordering maintained on-chain</li>
                  <li>  LLD and LLP Service Layer for use in Web-Apps and also accessible through the LLL-TAO API System </li>
                  <li>  Mobile P2P and decentralized Uber dapp with 0% fees, on-chain reputation, and collateralized delivery functionality </li>
                  <li>  Mobile P2P DEX Interface for trading tokens on Nexus or Hybrid/Sister chains in a mobile Dapp </li>
                  <li>  Mobile P2P decentralized Geo-Spacial markets where you can buy and sell locally any legal product(s). This combines with the P2P decentralized delivery system so that goods can be transported as another additional revenue for drivers </li>
                  <li>  Mobile Filesystem Backup to use LLL-TAO File System to backup files on your device and allow access with the Nexus Dapp Suite </li>
                  <li>  LX-OS Microkernel with Linux Compatibility Layer to run certain flavors of Android OS such as Graphene and allow hardware compatibility and security beyond the Google Pixel </li>

                </ul>
              </div>
            </div>

            <div class="roadmap roadmap-logo roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <div class="roadmap-title text-center">Tritium ++</div>
                </div>

                <img class="logo-dark" src="images/Tritium.png" alt="tritium" />
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">5.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>


            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">5.1.x</span>
                  <span class="roadmap-title">Mobile Wallet</span>
                </div>
                <p>
                  Final Bugfixes to get Mobile wallet released
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">5.2</div>
            </div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">5.2</span>
                  <span class="roadmap-title">SQL Language Updates</span>
                </div>
                <p>
                  Upgrades to the SQL language in the API to add additional functionality and operators
                </p>
              </div>
            </div>
            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">5.2</span>
                  <span class="roadmap-title">Removal of OpenSSL</span>
                </div>
                <p>
                  Complete Removal of OpenSSL using our own embedded TLS and Cryptography in the LLC
                </p>
              </div>
            </div>
            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">5.2</span>
                  <span class="roadmap-title"> Integration of O(!) LLD Service</span>
                </div>
                <p>
                  Integrate O(!) LLD Service completely into the complete Network
                </p>
              </div>
            </div>
            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">5.2</span>
                  <span class="roadmap-title">New APIs</span>
                </div>
                <p>
                  P2P Messenger API, Crypto API
                </p>
              </div>
            </div>
            <div class="roadmap">
              <div class="roadmap-year">5.3</div>
            </div>
            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">5.3</span>
                  <span class="roadmap-title">Remote Login</span>
                </div>
                <p>
                  Remote Login System and API, Sigchain Ledger VM to create programmable access patterns to your sigchain with multiple sets of credentials
                </p>
              </div>
            </div>
            <div class="roadmap">
              <div class="roadmap-year">6.0</div>
            </div>
            <div class="roadmap"></div>
            <div class="roadmap"></div>
            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">6.0</span>
                  <span class="roadmap-title">Hard Fork</span>
                </div>
                <p>
                  Hard Fork for Difficulty Adjustments, Security Updates, Initial Filesystem Hosting, and Initial Augmented Contracts
                </p>
              </div>
            </div>
            <div class="roadmap">
              <div class="roadmap-year">6.1</div>
            </div>
            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">6.1</span>
                  <span class="roadmap-title"
                    >Post hard fork maintenance</span
                  >
                </div>
                <p>
                  Post hard fork maintenance, DSL for Initial Augmented Contracts, Signature Chaining Space Reduction Complete
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">7.0</div>
            </div>
            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">7.0</span>
                  <span class="roadmap-title">Hard Fork</span>
                </div>
                <p>
                  Hard Fork for Security Updates, Pooled Staking, Incentivized Hybrid Mode, Final Incentivized Filesystem, and Final Augmented Contracts
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">7.1</div>
            </div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">7.1</span>
                  <span class="roadmap-title"
                    >Post hard fork maintenance</span
                  >
                </div>
                <p>
                  Post hard fork maintenance, Final DSL for Augmented Contracts
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">8.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">8.0</span>
                  <span class="roadmap-title">Hard Fork</span>
                </div>
                <p>
                  Hard Fork for implementation of Starfish Funding Model as an on-chain enforced protocol, currently allocation is voted via trust keys on-chain but is not enforced by the ledger
                </p>
              </div>
            </div>

            <div class="roadmap roadmap-logo roadmap-right amine">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <div class="roadmap-title text-center">Amine</div>
                </div>

                <img class="logo-dark" src="images/Amine.png" alt="amine" />
              </div>
            </div>

            
            <div class="roadmap">
              <div class="roadmap-year">9.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">9.0</span>
                  <span class="roadmap-title">Hard Fork</span>
                </div>
                <p>
                  Hard Fork to add additional hash reference ID for an Amine Shard(s). <br/>
                  Initially 4 shards will be created using pBFT and nPoW + Trust that reference the main chain. 
                  <br/>A user will be required to opt-in to a shard to process within in it, 
                  or can opt-out and process transactions using the Tritium Protocol. 
                  <br/>This will be ongoing throughout Amine if any adjustments need to be made
                </p>
              </div>
            </div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">9.0</span>
                  <span class="roadmap-title"
                    >Hard Fork</span
                  >
                </div>
                <p>
                  Hard Fork to deprecate UTxO, retain support for it in processing but not allow new UTxO transactions to be made.

                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">9.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">9.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard-Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard-Fork Maintenance while releasing TAO only mode where we can truncate the chain at the first Tritium Block, and keep headers of the Legacy chain to save disk space. 
                  <br/>Processing of Legacy transactions will be stopped and their history locked. 
                  <br/>Any coins not in a sigchain at this point will be considered lost, and we can update our coin-supply.
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">10.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">10.0</span>
                  <span class="roadmap-title">Add Trust System to Mining Nodes</span>
                </div>
                <p>
                  Add a trust system to mining nodes to weight their proof of work with trust along with the actual work completed.
                </p>
              </div>
            </div>
            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">10.0</span>
                  <span class="roadmap-title"
                    >Add Trust System to Hybrid Network Sigchains</span
                  >
                </div>
                <p>
                  Add trust system to the hybrid network sigchains to develop an algorithm of consistent contributions to the network in the form of NXS payments for use with the hybrid systems.
                </p>
              </div>
            </div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">10.0</span>
                  <span class="roadmap-title">Add Trust System to Ambassador Network Sigchains</span>
                </div>
                <p>
                  Add trust system to the ambassador network sigchains to develop the algorithm of voting allocated funded between Embassies and as our final voting group.
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">10.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">10.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard-Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard-Fork maintenance, add global network data sharding using the LLD so that your node only has to retain part of the chain dataset, while keeping the main chain as a list of block headers for reference. 
                  <br/>This is a stair stepped process that will eventually lead to full data and process sharding.
                </p>
              </div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>


            <div class="roadmap roadmap-logo roadmap-right obsidian">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <div class="roadmap-title text-center">Obsidian</div>
                </div>

                <img
                  class="logo-dark"
                  src="images/Obsidian.png"
                  alt="obsidian"
                />
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">11.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">11.0</span>
                  <span class="roadmap-title"
                    >Hard Fork</span
                  >
                </div>
                <p>
                  Hard Fork to link all the voting groups into global systems maintenance such as fee management, and fund management to each DAO (Embassy) that’s been allocated. 
                </p>
              </div>
            </div>

            
            <div class="roadmap">
              <div class="roadmap-year">11.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">11.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard Fork Maintenance updates 
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">12.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">12.0</span>
                  <span class="roadmap-title"
                    > Hard Fork
                  </span>
                </div>
                <p>
                  Hard Fork to develop a mining share system, where initial merkle proofs of all miners shares can be submitted over a Tritium Block and the reward distributed among the submitters of the given share. 
                  <br/>This also weights the block based on the total proof of work, and the total trust that generated it. 
                  <br/>Every miner can then contribute to each individual block, but must agree on the same merkleRoot to hash together.
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">12.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">12.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard Fork Maintenance updates 
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">13.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">13.0</span>
                  <span class="roadmap-title"
                    >Hard Fork</span
                  >
                </div>
                <p>
                  Hard Fork to develop nPoS shards and cross links between L1 State channels along with full Data Sharding of transaction and register states
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">13.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">13.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard Fork Maintenance updates 
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">14.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">14.0</span>
                  <span class="roadmap-title"
                    >Hard Fork</span
                  >
                </div>
                <p>
                  Hard Fork to deprecate the main chain from the first 3D block, weave the L1, L2, and L3 layers together, still retaining only 4 L1 state channels
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">14.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">14.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard Fork Maintenance updates 
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">15.0</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">15.0</span>
                  <span class="roadmap-title">Hard Fork</span>
                </div>
                <p>
                  Hard Fork to add the mitosis process for splitting of L1 state channels and L2 nPoS shards to increase capacity, or merging them to decrease capacity
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">15.1.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-right">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">15.1.x</span>
                  <span class="roadmap-title"
                    >Post Hard Fork Maintenance</span
                  >
                </div>
                <p>
                  Post Hard Fork Maintenance updates 
                </p>
              </div>
            </div>

            <div class="roadmap">
              <div class="roadmap-year">16.x.x</div>
            </div>

            <div class="roadmap"></div>
            <div class="roadmap"></div>

            <div class="roadmap roadmap-left">
              <div class="roadmap-step">
                <div class="roadmap-head">
                  <span class="roadmap-time">16.x.x</span>
                  <span class="roadmap-title">Hard Fork</span>
                </div>
                <p>
                  Hard Fork and maintenance updates to adjust consensus parameters as final upgrade to the core protocol. 
                  <br/>This could include modifying certain values for security, and touching up on any updates that need to be done to the 3DC.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- Block @e -->
  </div>

  <app-scroll-top></app-scroll-top>
</div>

<nexus-footer></nexus-footer>
