<main class="nk-pages">
  <section class="section bg-transparent over-up over-up-xl-s2 pdt-0">
    <div class="ui-mask-right ui-mask-s8"></div>
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block nk-block-features-s3">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-10">
            <div
              class="feature feature-center card card-lg-y animated"
              data-animate="fadeInUp"
              data-delay="1.4"
            >
              <div
                class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s1"
              >
                <em class="icon ikon ikon-bulb icon-grd icon-lg-s2"></em>
              </div>
              <div class="feature-text">
                <h4 class="title title-md title-dark mb-4">
                  Most Innovative Technology
                </h4>
                <p>
                  Nexus is a <b>community-driven</b> project with the common
                  vision of a world inspired by <b>innovative</b> and
                  responsible values, expansive technology, and the fundamental
                  quality of connection being ubiquitous, free, and available to
                  everyone.
                </p>
              </div>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-4 col-md-10">
            <div
              class="feature feature-center card card-lg-y animated"
              data-animate="fadeInUp"
              data-delay="1.5"
            >
              <div
                class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s2"
              >
                <em class="icon ikon ikon-lock icon-grd icon-lg-s2"></em>
              </div>
              <div class="feature-text">
                <h4 class="title title-md title-dark mb-4">
                  Quantum Resistance
                </h4>
                <p>
                  With the rise in the power of classical computers and the
                  emergence of quantum computers, public keys are becoming
                  vulnerable. Nexus has prepared by adding cryptography that
                  support increased levels of <b>quantum resistance</b>.
                </p>
              </div>
            </div>
          </div>
          <!-- .col -->
          <div class="col-lg-4 col-md-10">
            <div
              class="feature feature-center card card-lg-y animated"
              data-animate="fadeInUp"
              data-delay="1.6"
            >
              <div
                class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s3"
              >
                <em class="icon ikon ikon-cash icon-grd icon-lg-s2"></em>
              </div>
              <div class="feature-text">
                <h4 class="title title-md title-dark mb-4">
                  Free Simple Transactions
                </h4>
                <p>
                  Transactions on Nexus are <b>free</b>, confirmed within 50
                  seconds. It is not possible to send NXS to an invalid or
                  nonexistent address. You can send NXS to usernames or account
                  names, replacing the need to copy and paste large Base58
                  addresses.
                </p>
              </div>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>
  <!-- // -->
  <section class="section pdt-0 ov-v">
    <div class="ui-mask-left ui-mask-s9"></div>
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block nk-block-text-wrap">
        <div
          class="row align-items-center gutter-vr-30px justify-content-between gutter-vr-30px"
        >
          <div class="col-lg-5 col-mb-9 m-auto order-first order-lg-last">
            <div
              class="nk-block-img animated"
              data-animate="fadeInUp"
              data-delay=".3"
            >
              <!-- <img src="./../../images/gfx/gfx-z-g.png" alt="app" /> -->
              <img src="./../../images/decentralize.png" alt="app" />
            </div>
          </div>
          <div class="col-lg-7">
            <div
              class="nk-block-text animated"
              data-animate="fadeInUp"
              data-delay=".2"
            >
              <div class="nk-block-shade"></div>
              <h3 class="title title-dark title-regular">
                Decentralize everything
              </h3>
              <p>
                Imagine a scalable, quantum-resistant blockchain securing an
                uncensorable and free internet through a hack-resistant
                Operating System, virtualizing access to your desktop and
                digital content from any computer in the world.
              </p>
              <p>
                Nexus is bringing this possibility to life with an end-to-end
                decentralized platform designed to empower every human being
                with technology to reclaim their digital identity.
              </p>

              <div class="nk-block-note nk-block-note-s2">
                <em class="icon ti ti-rocket"></em>
                <p>
                  Nexus was mined into existence similar to Bitcoin and there
                  was no premine or ICO.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>
  <!-- // -->

  <!-- // -->
  <section class="section pdt-0 ov-v">
    <div class="ui-mask-left ui-mask-s11"></div>
    <div class="container">
      <div class="nk-block">
        <div class="row align-items-center gutter-vr-30px">
          <div class="col-lg-6">
            <div
              class="nk-block-img animated"
              data-animate="fadeInUp"
              data-delay=".1"
            >
              <img src="./../../images/earth.png" alt="gfx" />
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="nk-block-text animated"
              data-animate="fadeInUp"
              data-delay=".2"
            >
              <h2 class="title title-dark title-regular">Nexus Protocol</h2>
              <p>
                Web 3.0 or Decentralized Web (DWeb), is the promise of
                emancipating digital communication by reducing our reliance on
                centralized network infrastructure. The Nexus Protocol takes
                this a step further by creating decentralized reputation driven
                routing services, at the level of both hardware and software,
                providing an alternative to Internet Service Providers (ISPs).
              </p>
              <p>
                The Nexus Protocol is driven by a security focused operating
                system (LX-OS), utilizing the immutability of Nexus to verify
                it’s internal states, making it resistant to most known
                operating system level exploits.
              </p>
              <p>
                The internet is a remarkable feat of engineering, however it
                fails to maintain both security and openness at the same time.
                As a step forward, Nexus has designed the ONE stack (Open Nexus
                Execution) that will support online services, verifying sources
                of information, through authenticated reputation, where the
                freedom of information is unhindered.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // -->
  <section class="section pdt-0">
    <div class="ui-mask-right ui-mask-s12"></div>
    <div class="container">
      <!-- Section Head @s -->
      <div
        class="section-head text-center wide-sm animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        <h2 class="title title-dark title-regular">Yada Yada</h2>
      </div>
      <!-- Section Head @s -->
      <div class="nk-block">
        <div class="row">
          <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
            <div
              class="feature feature-center card animated"
              data-animate="fadeInUp"
              data-delay=".2"
            >
              <div class="feature-icon feature-icon-btc mb-1">
                <em class="icon icon-md ikon ikon-btc"></em>
              </div>
              <div class="feature-text feature-currency">
                <h3 class="title title-sm">BitCoin</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
            <div
              class="feature feature-center card animated"
              data-animate="fadeInUp"
              data-delay=".3"
            >
              <div class="feature-icon feature-icon-eth mb-1">
                <em class="icon icon-md ikon ikon-eth"></em>
              </div>
              <div class="feature-text feature-currency">
                <h3 class="title title-sm">Ethereum</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
            <div
              class="feature feature-center card animated"
              data-animate="fadeInUp"
              data-delay=".4"
            >
              <div class="feature-icon feature-icon-ltc mb-1">
                <em class="icon icon-md ikon ikon-ltc"></em>
              </div>
              <div class="feature-text feature-currency">
                <h3 class="title title-sm">Ethereum</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
            <div
              class="feature feature-center card animated"
              data-animate="fadeInUp"
              data-delay=".5"
            >
              <div class="feature-icon feature-icon-xrp mb-1">
                <em class="icon icon-md ikon ikon-xrp"></em>
              </div>
              <div class="feature-text feature-currency">
                <h3 class="title title-sm">Ripple</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
            <div
              class="feature feature-center card animated"
              data-animate="fadeInUp"
              data-delay=".6"
            >
              <div class="feature-icon feature-icon-dash mb-1">
                <em class="icon icon-md ikon ikon-dash"></em>
              </div>
              <div class="feature-text feature-currency">
                <h3 class="title title-sm">Dash Coin</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 col-sm-4 col-6">
            <div
              class="feature feature-center card animated"
              data-animate="fadeInUp"
              data-delay=".7"
            >
              <div class="feature-icon feature-icon-monero mb-1">
                <em class="icon icon-md ikon ikon-monero"></em>
              </div>
              <div class="feature-text feature-currency">
                <h3 class="title title-sm">Morero</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // -->
  <section class="section pdt-0 ov-v">
    <div class="ui-mask-right ui-mask-s11"></div>
    <div class="container">
      <!-- Section Head @s -->
      <div
        class="section-head text-center wide-sm animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        <h2 class="title title-dark title-regular">FAQs</h2>
        <p>
          Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and
          few others. If you have any other questions, please get in touch via
          email.
        </p>
      </div>
      <!-- Section Head @s -->
      <div class="nk-block">
        <div class="row">
          <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
            <ul
              class="nav tab-nav tab-nav-vr tab-nav-bdr me-lg-3 bg-white animated"
              data-animate="fadeInUp"
              data-delay=".2"
            >
              <li>
                <a
                  class="active"
                  data-bs-toggle="tab"
                  href="#general-questions-01"
                  ><em class="fas fa-caret-right"></em>General Questions</a
                >
              </li>
              <li>
                <a data-bs-toggle="tab" href="#ico-questions-01"
                  ><em class="fas fa-caret-right"></em>ICO Questions</a
                >
              </li>
              <li>
                <a data-bs-toggle="tab" href="#tokens-sales-01"
                  ><em class="fas fa-caret-right"></em>Tokens Sales</a
                >
              </li>
              <li>
                <a data-bs-toggle="tab" href="#clients-releted-01"
                  ><em class="fas fa-caret-right"></em>Clients Releted</a
                >
              </li>
            </ul>
          </div>
          <!-- .col -->
          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active animated"
                id="general-questions-01"
                data-animate="fadeInUp"
                data-delay=".3"
              >
                <div class="accordion accordion-s2 accordion-faq" id="faq-1">
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-1-1"
                    >
                      What is Nexus? <span class="accordion-icon"></span>
                    </h5>
                    <div
                      id="faq-1-1"
                      class="collapse show"
                      data-bs-parent="#faq-1"
                    >
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-1-2"
                    >
                      What cryptocurrencies can I use to purchase?
                      <span class="accordion-icon"></span>
                    </h5>
                    <div id="faq-1-2" class="collapse" data-bs-parent="#faq-1">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-1-3"
                    >
                      How can I participate in the ICO Token sale?
                      <span class="accordion-icon"></span>
                    </h5>
                    <div id="faq-1-3" class="collapse" data-bs-parent="#faq-1">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-1-4"
                    >
                      How do I benefit from the ICO Token?
                      <span class="accordion-icon"></span>
                    </h5>
                    <div id="faq-1-4" class="collapse" data-bs-parent="#faq-1">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade animated"
                id="ico-questions-01"
                data-animate="fadeInUp"
                data-delay=".4"
              >
                <div class="accordion accordion-s2 accordion-faq" id="faq-2">
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-2-1"
                    >
                      Which of us ever undertakes laborious?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div
                      id="faq-2-1"
                      class="collapse show"
                      data-bs-parent="#faq-2"
                    >
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-2-2"
                    >
                      Who do not know how to pursue rationally?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-2-2" class="collapse" data-bs-parent="#faq-2">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-2-3"
                    >
                      Their separate existence is a myth?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-2-3" class="collapse" data-bs-parent="#faq-2">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-2-4"
                    >
                      Pityful a rethoric question ran over her cheek?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-2-4" class="collapse" data-bs-parent="#faq-2">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade animated"
                id="tokens-sales-01"
                data-animate="fadeInUp"
                data-delay=".5"
              >
                <div class="accordion accordion-s2 accordion-faq" id="faq-3">
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-3-1"
                    >
                      When she reached the first hills?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div
                      id="faq-3-1"
                      class="collapse show"
                      data-bs-parent="#faq-3"
                    >
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-3-2"
                    >
                      Big Oxmox advised her not to do?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-3-2" class="collapse" data-bs-parent="#faq-3">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-3-3"
                    >
                      Which roasted parts of sentences fly into your mouth?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-3-3" class="collapse" data-bs-parent="#faq-3">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-3-4"
                    >
                      Vokalia and Consonantia, there live?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-3-4" class="collapse" data-bs-parent="#faq-3">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade animated"
                id="clients-releted-01"
                data-animate="fadeInUp"
                data-delay=".6"
              >
                <div class="accordion accordion-s2 accordion-faq" id="faq-4">
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-4-1"
                    >
                      How do I benefit from the ICO Token?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div
                      id="faq-4-1"
                      class="collapse show"
                      data-bs-parent="#faq-4"
                    >
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-4-2"
                    >
                      Pityful a rethoric question ran over her cheek?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-4-2" class="collapse" data-bs-parent="#faq-4">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-4-3"
                    >
                      Vokalia and Consonantia, there live?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-4-3" class="collapse" data-bs-parent="#faq-4">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h5
                      class="accordion-title accordion-title-sm collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq-4-4"
                    >
                      Who do not know how to pursue rationally?<span
                        class="accordion-icon"
                      ></span>
                    </h5>
                    <div id="faq-4-4" class="collapse" data-bs-parent="#faq-4">
                      <div class="accordion-content">
                        <p>
                          Once ICO period is launched, You can purchased Token
                          with Etherum, Bitcoin or Litecoin. You can also tempor
                          incididunt ut labore et dolore magna aliqua sed do
                          eiusmod eaque ipsa.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
    </div>
  </section>
  <!-- // -->
  <section class="section pdt-0">
    <div class="container">
      <div
        class="nk-block block-partners animated"
        data-animate="fadeInUp"
        data-delay=".1"
      >
        <ul class="partner-list partner-list-left partner-list-s3 flex-wrap">
          <li class="partner-logo partner-logo-s2">
            <img src="./../../images/partners/a-xs-alt.png" alt="partner" />
          </li>
          <li class="partner-logo partner-logo-s2">
            <img src="./../../images/partners/b-xs-alt.png" alt="partner" />
          </li>
          <li class="partner-logo partner-logo-s2">
            <img src="./../../images/partners/c-xs-alt.png" alt="partner" />
          </li>
          <li class="partner-logo partner-logo-s2">
            <img src="./../../images/partners/d-xs-alt.png" alt="partner" />
          </li>
          <li class="partner-logo partner-logo-s2">
            <img src="./../../images/partners/e-xs-alt.png" alt="partner" />
          </li>
          <li class="partner-logo partner-logo-s2">
            <img src="./../../images/partners/a-xs-alt.png" alt="partner" />
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
