.spinner-border {
    color: #6dcefe !important;
}

.icon.ti-light-bulb{
    color: white;
}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.section-video {
    padding-top: 0px;
    padding-bottom: 0px;
}

.video-container {
    display:flex;
}