.spinner-border {
  color: #6dcefe !important;
}

.icon.ti-light-bulb {
  color: rgb(255, 255, 255);

  &.dark {
    color: #003651;
  }
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.section-video {
  padding-top: 0px;
  padding-bottom: 0px;
}

.video-container {
  display: flex;
}

.bg-theme .box-bordered-inner {
  background: #023e60;
}

#articles,
#videos {
  padding-bottom: 2rem !important;
}

#articles {
  margin-bottom: 5rem;
}

.schedule-content.videos img {
  max-width: 26rem;
}

.metrics {
  margin-bottom: 5rem;
}

.articles-button,
.videos-button {
  display: flex;
  justify-content: center;

  a {
    margin-top: 10px;
  }
}
