.nk-block-text {
  padding: 2rem;
}

.table-head {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.table-des {
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-s1 {
  box-shadow: 0px 5px 46px rgba(25, 64, 176, 0.14);
  padding: 1rem;
}
