.scroll-to-top {
  position: fixed;
  bottom: 95px;
  right: 36px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 120000;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.fa-chevron-up {
  color: #0ca4fb;
}

.button-up {
  z-index: 1;
  border: none;
  outline: 0;
  background-color: #0ca4fb;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
}
.button-up:hover {
  background-color: #025e93;
}
