<body class="nk-body body-wider bg-light">
  <div class="nk-wrap">
    <nexus-page-header
      [title]="'Decentralized Internet'"
      headerText="We're moving from a centralized understanding of the world to a decentralized understanding of the world."
      [isSmall]="true"
    >
    </nexus-page-header>
  </div>

  <div class="header-main header-sub">
    <div class="header-container container">
      <div class="header-wrap">
        <!-- Menu @s -->
        <div class="header-navbar">
          <nav class="header-menu">
            <ul class="menu">
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(protocol); $event.preventDefault()"
                  >Nexus Protocol</a
                >
              </li>
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(satelites); $event.preventDefault()"
                  >Tokenized Satelites</a
                >
              </li>
              <li class="menu-item">
                <a
                  class="menu-link nav-link"
                  href="#"
                  (click)="scroll(groundstations); $event.preventDefault()"
                  >Ground stations</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <!-- .header-navbar @e -->
      </div>
    </div>
  </div>
  <!-- .header-main @e -->

  <section class="section protocol pdt-1 ov-v" #protocol>
    <div class="ui-mask-left ui-mask-s8"></div>
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block nk-block-text-wrap">
        <div
          class="row align-items-center gutter-vr-30px justify-content-between"
        >
          <div class="col-lg-7 col-mb-8 m-auto order-first order-lg-last">
            <div
              class="nk-block-img"
              data-animate="fadeInUp"
              data-delay=".1"
              title="Decentralized"
              style="visibility: visible; animation-delay: 0.1s"
            >
              <img src="images/earth.png" alt="app" />
            </div>
          </div>
          <div class="col-lg-5">
            <div class="nk-block-text">
              <h3
                class="title title-s2 title-s2-alt animated"
                data-animate="fadeInUp"
                data-delay=".2"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.2s"
              >
                Nexus Protocol
              </h3>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay=".3"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.3s"
              >
                Web 3.0 or Decentralized Web (DWeb), is the promise of
                emancipating digital communication by reducing our reliance on
                centralized network infrastructure. The Nexus Protocol takes
                this a step further by creating decentralized reputation driven
                routing services, at the level of both hardware and software,
                providing an alternative to Internet Service Providers (ISPs).
              </p>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay=".4"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.4s"
              >
                The Nexus Protocol is driven by a security focused operating
                system (<a href="./operatingsystem#os">LX-OS</a>), utilizing the
                immutability of Nexus to verify it’s internal states, making it
                resistant to most known operating system level exploits. The
                internet is a remarkable feat of engineering, however it fails
                to maintain both security and openness at the same time. As a
                step forward, Nexus has designed the ONE stack (Open Nexus
                Execution) that will support online services, verifying sources
                of information, through authenticated reputation, where the
                freedom of information is unhindered.
              </p>
            </div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>

  <section class="section ov-v pdb-2 bg-theme-accent-alt" #satelites>
    <div class="ui-mask-right ui-mask-s11"></div>
    <div class="container">
      <div class="nk-block">
        <div class="row align-items-center gutter-vr-30px">
          <div class="col-lg-5">
            <div class="nk-block-img">
              <img class="cubes" src="images/cubesatroadmap.png" alt="gfx" />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="nk-block-text">
              <h2
                class="title title-s2 title-s2-alt animated"
                data-animate="fadeInUp"
                data-delay="0.1"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.1s"
              >
                Tokenized Satelites
              </h2>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay="0.2"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.2s"
              >
                Traditionally, deploying an entire satellite constellation
                requires a significant amount of capital. Today, it is possible
                to create incentive-based systems using tokenization to
                crowdfund micro-satellites. Each constellation will be
                represented by a supply of tokens created on Nexus that manage
                ownership, and optional income and voting rights.
              </p>
              <p
                class="animated"
                data-animate="fadeInUp"
                data-delay="0.3"
                title="Decentralized"
                style="visibility: visible; animation-delay: 0.3s"
              >
                Micro-satellites will be launched into Low Earth Orbit (LEO),
                will run Nexus’ operating system (<a href="./operatingsystem#os"
                  >LX-OS</a
                >), and utilize reputation-based network services to protect
                against malicious entities attempting to monopolize the network.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section protocol pdt-1 ov-v" #groundstations>
    <div class="ui-mask-left ui-mask-s8"></div>
    <div class="container">
      <!-- Block @s -->
      <div class="nk-block nk-block-text-wrap">
        <div
          class="row align-items-center gutter-vr-30px justify-content-between"
        >
          <div class="col-lg-7 col-mb-8 m-auto order-first order-lg-last">
            <div class="nk-block-img">
              <img src="images/groundgroup.png" alt="app" />
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="nk-block-text animated"
              data-animate="fadeInUp"
              data-delay="0.3"
              title="Decentralized"
              style="visibility: visible; animation-delay: 0.3s"
            >
              <div class="nk-block-shade"></div>
              <h3 class="title title-s2 title-s2-alt">Ground Stations</h3>
              <p>
                Satellites will connect to phased array antennas, which are
                electrically steered and are capable of realizing high gains and
                mobility. These antennas can be installed on roof tops and on
                the top of vehicles. The antennas will connect to transceivers
                on the 5.8 GHz ISM (Industrial, Scientific, Medical) band,
                commonly used in Wi-Fi routers. The expansion of network
                hardware will be incentivized with revenue from engaging in
                geo-spatial contracts, for content delivery, edge computing, and
                routing services.
              </p>
            </div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .block @e -->
    </div>
  </section>

  <!-- Footer -->
  <nexus-footer></nexus-footer>
</body>
