<body class="nk-body body-wider bg-light">
  <div class="nk-wrap">
    <nexus-page-header
      [title]="'Blog'"
      [headerText]="'Blogging is a conversation, not a code.'"
      [isSmall]="true"
    >
    </nexus-page-header>

    <main class="nk-pages">
      <section class="section bg-light blog-header">
        <div class="ui-mask-left ui-mask-s11"></div>
        <div class="container">
          <div class="nk-block nk-block-blog">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img src="images/blog/oldtech.png" alt="blog-thumb" />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li><a href="#">Nov 14, 2022</a></li>
                          <li><a href="#">Nexus</a></li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="#">Hardware Wallets are Old Tech</a>
                        </h4>
                        <p>
                          Your crypto wallet is old tech but you just don’t know
                          it yet. It is difficult to use and you probably hate
                          having to worry about it. It is unlikely that Grandma
                          is going to be able to figure out how to use it
                          either.
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                  <div class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img
                          src="images/blog/decentralizeTakeControl.png"
                          alt="blog-thumb"
                        />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li><a href="#">Sep 2, 2022</a></li>
                          <li><a href="#">Crypto</a></li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="#"
                            >Don’t lose it all, decentralize and take control</a
                          >
                        </h4>
                        <p>
                          When the all-in-one crypto banking provider Celsius,
                          froze withdrawals and filed for bankruptcy, over one
                          hundred thousand customers instantly lost access to
                          their money. For many, who were...
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                  <div class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img
                          src="images/blog/freesociety.png"
                          alt="blog-thumb"
                        />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li><a href="#">Mar 29, 2022</a></li>
                          <li><a href="#">Crypto</a></li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="#"
                            >Why Decentralization in Crypto is essential for a
                            Free Society</a
                          >
                        </h4>
                        <p>
                          With their prodigious rise in the financial markets
                          and public consciousness, it’s hard to believe that
                          over a decade ago, Bitcoin and cryptocurrencies were
                          within the realm of privacy enthusiasts and radicals.
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                  <div class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img
                          src="images/blog/interoperability.png"
                          alt="blog-thumb"
                        />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li><a href="#">25 Mar, 2022</a></li>
                          <li><a href="#">Nexus</a></li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="#"
                            >Interoperability and the Nexus Blockchain</a
                          >
                        </h4>
                        <p>
                          The blockchain ecosystem started with Bitcoin being
                          the premier digital asset offering a way to transfer
                          value while eliminating centralized authority. The
                          Ethereum network has taken this further with the use
                          of smart contracts to...
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                  <div class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img
                          src="images/blog/top10reasons.png"
                          alt="blog-thumb"
                        />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li><a href="#">11 Oct, 2021</a></li>
                          <li><a href="#">Nexus</a></li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="#">Top 10 Reasons to Build on Nexus</a>
                        </h4>
                        <p>
                          There is an increasing number of smart contract
                          platforms rolling out in the crypto space, with many
                          becoming household names. However, a dark horse in the
                          race to be the most efficient and secure blockchain...
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                  <div class="col-sm-6">
                    <div class="blog">
                      <div class="blog-photo">
                        <img src="images/blog/bubble.png" alt="blog-thumb" />
                      </div>
                      <div class="blog-text">
                        <ul class="blog-meta">
                          <li><a href="#">22 Oct, 2021</a></li>
                          <li><a href="#">Nexus</a></li>
                          <li><a href="#">Bubble</a></li>
                        </ul>
                        <h4 class="title title-sm">
                          <a href="#"
                            >Building DApps with no-code Bubble + Nexus.io
                            plugin</a
                          >
                        </h4>
                        <p>
                          Nexus’ no-code Bubble plugin allows you to create Web3
                          applications on the Nexus blockchain using REST APIs.
                          Nexus Bubble plugin Bubble is a leader in the no-code
                          movement, which offers a powerful point-...
                        </p>
                      </div>
                    </div>
                    <!-- .blog -->
                  </div>
                  <!-- .col -->
                </div>
                <!-- .row -->
                <nav class="w-100 d-flex">
                  <ul class="pagination">
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                      <a href="#"><em class="icon ti ti-angle-right"></em></a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- .col -->
              <div class="col-lg-4 order-lg-first">
                <div class="sidebar me-lg-4 mt-5 mt-lg-0">
                  <div class="wgs wgs-search">
                    <form action="#" class="field-inline">
                      <input
                        type="text"
                        placeholder="Search Keyword"
                        class="input-bordered"
                      />
                      <button class="btn btn-primary btn-icon">
                        <em class="ti ti-search"></em>
                      </button>
                    </form>
                  </div>
                  <div class="wgs wgs-category">
                    <h6 class="wgs-title">Category</h6>
                    <div class="wgs-body">
                      <ul class="wgs-links wgs-links-category">
                        <li><a href="#">Blockchain</a></li>
                        <li><a href="#">Cryptocurrency</a></li>
                        <li><a href="#">Technology</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="wgs wgs-tags">
                    <h6 class="wgs-title">Tags</h6>
                    <div class="wgs-body">
                      <ul class="wgs-links wgs-links-tags">
                        <li><a href="#">nexus</a></li>
                        <li><a href="#">bitcoin</a></li>
                        <li><a href="#">released</a></li>
                        <li><a href="#">tokens</a></li>
                        <li><a href="#">roadmap</a></li>
                        <li><a href="#">crypto</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="wgs wgs-archive">
                    <h6 class="wgs-title">Archive</h6>
                    <div class="wgs-body">
                      <select
                        name="post-archive"
                        class="select"
                        data-select2-placehold="Select Month"
                      >
                        <option label="placeholder"></option>
                        <option value="All">All</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                      </select>
                    </div>
                  </div>
                  <div class="wgs wgs-cta bg-theme tc-light round">
                    <div class="wgs-body">
                      <div class="title title-sm">How can we help you?</div>
                      <p>
                        Contact our support team if you need help or have any
                        questions?
                      </p>
                      <a href="#" class="btn btn-md btn-light">Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- .row -->
          </div>
          <!-- .nk-block -->
        </div>
        <!-- .container -->
      </section>
      <!-- .section -->
    </main>
  </div>

  <nexus-footer></nexus-footer>
</body>
