<main class="nk-pages">
  <section class="section bg-light">
    <div class="container">
      <div class="nk-block nk-block-blog">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="blog">
                  <div class="blog-photo">
                    <img src="images/blog/a.jpg" alt="blog-thumb" />
                  </div>
                  <div class="blog-text">
                    <ul class="blog-meta">
                      <li><a href="#">12 Mar, 2022</a></li>
                      <li><a href="#">Blockchain</a></li>
                    </ul>
                    <h4 class="title title-sm">
                      <a href="#">The Intersection with Blockchain.</a>
                    </h4>
                    <p>
                      Blockchain Meets Energy Surplus of electrical energy is
                      sometimes ut perspiciatis unde omnis iste natus...
                    </p>
                  </div>
                </div>
                <!-- .blog -->
              </div>
              <!-- .col -->
              <div class="col-sm-6">
                <div class="blog">
                  <div class="blog-photo">
                    <img src="images/blog/b.jpg" alt="blog-thumb" />
                  </div>
                  <div class="blog-text">
                    <ul class="blog-meta">
                      <li><a href="#">12 Mar, 2022</a></li>
                      <li><a href="#">Blockchain</a></li>
                    </ul>
                    <h4 class="title title-sm">
                      <a href="#">The Intersection with Blockchain.</a>
                    </h4>
                    <p>
                      Blockchain Meets Energy Surplus of electrical energy is
                      sometimes ut perspiciatis unde omnis iste natus...
                    </p>
                  </div>
                </div>
                <!-- .blog -->
              </div>
              <!-- .col -->
              <div class="col-sm-6">
                <div class="blog">
                  <div class="blog-photo">
                    <img src="images/blog/c.jpg" alt="blog-thumb" />
                  </div>
                  <div class="blog-text">
                    <ul class="blog-meta">
                      <li><a href="#">12 Mar, 2022</a></li>
                      <li><a href="#">Blockchain</a></li>
                    </ul>
                    <h4 class="title title-sm">
                      <a href="#">The Intersection with Blockchain.</a>
                    </h4>
                    <p>
                      Blockchain Meets Energy Surplus of electrical energy is
                      sometimes ut perspiciatis unde omnis iste natus...
                    </p>
                  </div>
                </div>
                <!-- .blog -->
              </div>
              <!-- .col -->
              <div class="col-sm-6">
                <div class="blog">
                  <div class="blog-photo">
                    <img src="images/blog/d.jpg" alt="blog-thumb" />
                  </div>
                  <div class="blog-text">
                    <ul class="blog-meta">
                      <li><a href="#">12 Mar, 2022</a></li>
                      <li><a href="#">Blockchain</a></li>
                    </ul>
                    <h4 class="title title-sm">
                      <a href="#">The Intersection with Blockchain.</a>
                    </h4>
                    <p>
                      Blockchain Meets Energy Surplus of electrical energy is
                      sometimes ut perspiciatis unde omnis iste natus...
                    </p>
                  </div>
                </div>
                <!-- .blog -->
              </div>
              <!-- .col -->
              <div class="col-sm-6">
                <div class="blog">
                  <div class="blog-photo">
                    <img src="images/blog/e.jpg" alt="blog-thumb" />
                  </div>
                  <div class="blog-text">
                    <ul class="blog-meta">
                      <li><a href="#">12 Mar, 2022</a></li>
                      <li><a href="#">Blockchain</a></li>
                    </ul>
                    <h4 class="title title-sm">
                      <a href="#">The Intersection with Blockchain.</a>
                    </h4>
                    <p>
                      Blockchain Meets Energy Surplus of electrical energy is
                      sometimes ut perspiciatis unde omnis iste natus...
                    </p>
                  </div>
                </div>
                <!-- .blog -->
              </div>
              <!-- .col -->
              <div class="col-sm-6">
                <div class="blog">
                  <div class="blog-photo">
                    <img src="images/blog/f.jpg" alt="blog-thumb" />
                  </div>
                  <div class="blog-text">
                    <ul class="blog-meta">
                      <li><a href="#">12 Mar, 2022</a></li>
                      <li><a href="#">Blockchain</a></li>
                    </ul>
                    <h4 class="title title-sm">
                      <a href="#">The Intersection with Blockchain.</a>
                    </h4>
                    <p>
                      Blockchain Meets Energy Surplus of electrical energy is
                      sometimes ut perspiciatis unde omnis iste natus...
                    </p>
                  </div>
                </div>
                <!-- .blog -->
              </div>
              <!-- .col -->
            </div>
            <!-- .row -->
            <nav class="w-100 d-flex">
              <ul class="pagination">
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#"><em class="icon ti ti-angle-right"></em></a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- .col -->
          <div class="col-lg-4 order-lg-first">
            <div class="sidebar me-lg-4 mt-5 mt-lg-0">
              <div class="wgs wgs-search">
                <form action="#" class="field-inline">
                  <input
                    type="text"
                    placeholder="Search Keyword"
                    class="input-bordered"
                  />
                  <button class="btn btn-primary btn-icon">
                    <em class="ti ti-search"></em>
                  </button>
                </form>
              </div>
              <div class="wgs wgs-category">
                <h6 class="wgs-title">Category</h6>
                <div class="wgs-body">
                  <ul class="wgs-links wgs-links-category">
                    <li><a href="#">Blockchain</a></li>
                    <li><a href="#">Cryptocurrency</a></li>
                    <li><a href="#">Technology</a></li>
                  </ul>
                </div>
              </div>
              <div class="wgs wgs-tags">
                <h6 class="wgs-title">Tags</h6>
                <div class="wgs-body">
                  <ul class="wgs-links wgs-links-tags">
                    <li><a href="#">ethereum</a></li>
                    <li><a href="#">bitcoin</a></li>
                    <li><a href="#">released</a></li>
                    <li><a href="#">tokens</a></li>
                    <li><a href="#">roadmap</a></li>
                  </ul>
                </div>
              </div>
              <div class="wgs wgs-archive">
                <h6 class="wgs-title">Archive</h6>
                <div class="wgs-body">
                  <select
                    name="post-archive"
                    class="select"
                    data-select2-placehold="Select Month"
                  >
                    <option label="placeholder"></option>
                    <option value="All">All</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                  </select>
                </div>
              </div>
              <div class="wgs wgs-cta bg-theme tc-light round">
                <div class="wgs-body">
                  <div class="title title-sm">How can we help you?</div>
                  <p>
                    Contact our support team if you need help or have any
                    questions?
                  </p>
                  <a href="#" class="btn btn-md btn-light">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .row -->
      </div>
      <!-- .nk-block -->
    </div>
    <!-- .container -->
  </section>
  <!-- .section -->
</main>
