.team-show {
    background: rgb(150 193 244 / 40%);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.wgs-body {
    width: 20rem;
}

.bg-light-alt {
   background-image: linear-gradient(to right, rgb(201 207 215) 0%, rgb(239 250 255) 100%) !important;
}

.team-featured-cont.embassies, .team-featured-cont.jurors {
    margin-bottom: 1.5rem;
}